@model CumulativePart1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <div class="delete"><a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="dellink" href="/Teacher/DeleteConfirmAjax/@Model.TeacherId">Delete Teacher with AJAX</a></div>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Employee Number: @Model.EmployeeNum</p>
    <p>Hire date: @Model.HireDate</p>
    <p>Salary: $@Model.TeacherSalary</p>

    <h3>Courses:</h3>
    @if (Model.Classes != null && Model.Classes.Any())
    {
        foreach (var _class in Model.Classes)
        {
            <div>@_class.ClassCode: @_class.ClassName</div>
        }
    }
    else
    {
        <div>No classes assigned</div>
    }
</div>

